# Für MacOS
.DS_Store
._*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

build/*
!build/.gitkeep

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Misc
*.log
